body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    
  }
  
  .div-tong {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: -23px;
  }
  
  .sidebar {
    width: 30%; /* Adjusted to take less space */
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 14px;
  }
  
  .sidebar h2 {
    margin-top: 40px;
    font-size: 16px; /* Make the header smaller */
  }
  
  .sidebar img {
    width: 100%;
    border-radius: 3px;
    height: auto;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap; /* Ensure tabs are in one line */
  }
  
  .tab.active {
    border-bottom: 2px solid red;
    font-weight: bold;
    color: #ff0000;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 3fr); /* Display 5 images per row */
    gap: 20px;
    margin-top: 20px;
  }
  
  .product-grid img {
    width: 100%;
    border-radius: 10px;
  }
  
  .product-grid .product {
    text-align: center;
  }
  .parent-cat__title {
    background-color: #b90000;
  }