.product-list {
    max-width: 100%;
    width: 100%;
    height:100% ;
    justify-content: center;
    margin-left: 10px;
    ma
    
}
.left-column {
    background-color: aqua;
}
.right-column {
    background-color: aquamarine;
}