/* src/components/Navbar.css */
.navbar {
  background-color: red; /* Màu nền của navbar */
  padding: 10px 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-category-group {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.navbar-logo {
  height: 40px; /* Kích thước của logo */
}

.category-icon {
  display: flex;
  align-items: center;
}

.category-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-icon-svg {
  margin-right: 8px;
}

.search-consult-group {
  display: flex;
  align-items: center;
  flex: 1; /* Chiếm không gian còn lại để căn giữa */
  justify-content: right; /* Căn giữa các phần tử bên trong */
  margin: 0 20px; /* Khoảng cách từ các phần tử bên trái và bên phải */
}

.consult-btn {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
}

.image-container {
  display: flex;
  position: relative; /* Để có thể chồng các ảnh lên nhau */
}

.circle-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-left: 5px;
}

.circle-img:nth-of-type(1) {
  z-index: 1;
}

.circle-img:nth-of-type(2) {
  z-index: 2;
  left: 15px; /* Điều chỉnh vị trí của ảnh */
}

.circle-img:nth-of-type(3) {
  z-index: 3;
  left: 30px; /* Điều chỉnh vị trí của ảnh */
}
